<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-left">
                <h3 class="h3">by the book</h3>
                <ul class="list-unstyled">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="storelocation">Our Store Locations</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 pull-right">
                <div class="social-networks">
                    <a href="https://www.facebook.com/"><i id="social-fb" class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/"><i id="social-twt" class="fab fa-twitter-square"></i></a>
                    <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square"></i></a>
                    <a href="#"><i id="social-em" class="fas fa-envelope-square"></i></a>
                </div>
                
                <div id="createDate">
                    Created in 2018, purely handspun
                </div>
            </div>
            
            
        </div>
    </div>
</footer>		

	
	
<script src="/jQuery/jquery-3.2.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/javascripts/customscript.js"></script>
</body> 
</html>