<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/BootstrapXL.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css">
	
	
	<script src="/jQuery/jquery-3.2.1.min.js" defer></script>
	<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" defer></script>
	
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.js" defer></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script> -->
		
	</head>
	<body>