<!-- top navbar begin -->
<nav class="navbar navbar-default navbar-inverse" > 
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand visible-xs-inline"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> by the book</a>
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#firstNavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        
        <div class="collapse navbar-collapse" id="firstNavBar">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/contact"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact Us</a>
                        </li>
                        <li>
                            <a href="/about"><i class="fa fa-users" aria-hidden="true"></i> About Us</a>
                        </li>
                        <li>
                            <a href="/storelocation"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Our BookStores</a>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser) { %>
                        <li>								
                            <a href="/users/login"><span class="glyphicon glyphicon-user" aria-hidden="true" ></span> Login</a>
                        </li>
                        
                        <li>	
                            <a href="/users/register"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Register</a>
                        </li>
                        <% } else { %>
								<li><a href="/users/profile/<%= currentUser.username %>">Welcome <%= currentUser.username %></a></li>
								<li><a href="/users/logout">Logout</a></li>
						<% } %>
                    </ul>
                    
                </div>
            </div>
            
            
            <div class="col-md-12 col-lg-12 reset-right">
                <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> by the book</a>
                <form class="navbar-form navbar-right" role="search" action="/search" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" id="navSearch" name="search">
                        <button type="submit" class="form-control btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
        
        
    </div>
    
</nav> <!-- top navbar end -->

<!-- Dropdown buttons -->
<div class="container dropdownContainers">
    <div class="row">
        
        <div class="col-md-2 col-md-offset-1 hidden-xs hidden-sm">
            <a href="/" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
        </div>
        
        <div class="col-xs-12 col-md-4 reset">
            
            <div class="dropdown">
                
                <button class="btn btn-default dropdown-toggle btn-lg btn-block" type="button" id="categoriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Categories
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-content" aria-labelledby="categoriesDropdown">
                    <li><a href="/category/programming">Programming</a></li>
                    <li><a href="/category/javascript">Javascript</a></li>
                    <li><a href="/category/sciencefiction">Science Fiction</a></li>
                    <li><a href="/category/git">Git</a></li>
                </ul>
                
            </div>
        </div>
        
        <div class="col-xs-12 col-md-4 reset">
            <div class="dropdown">
                
                <button class="btn btn-default dropdown-toggle btn-lg btn-block" type="button" id="newBooksDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Show All
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-content" aria-labelledby="newBooksDropdown">
                    <li><a href="/showallauthors">Show all authors</a></li>
                    <li><a href="/showallbooks">Show all books</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- Dropdown button end -->



<!-- Start Breadcrumbs section -->
<% if(navInfo.length > 1) { %>
<nav class="navbar navbar-default nav-breadcrumb">
    <div class="container">
        <div class="navbar-header">
            <ol class="breadcrumb">
            <% navInfo.forEach(crumb => { %>
                <li><a href="/<%=crumb[1]%>"><%=crumb[0]%></a></li>

            <% }) %>
		
            </ol>
        </div>
    </div>
</nav>
<% } %>


