<%- include('partials/header'); %>
<%- include('partials/navigation'); %>
        <!-- google map integration -->
        
        <div class="container">
            <div class="row">
                <div id="map-outer" class="col-md-12">
                    <div id="address" class="col-md-4">
                        <h2>Our Location</h2>
                        <address>
                            <strong>GIFT University</strong><br>
                            Sialkot Bypass, Gujranwala<br>
                            Punjab<br>
                            Pakistan<br>
                            <abbr>P:</abbr> (055) 111 900 100
                        </address>
                    </div>
                    <div id="map-container" class="col-md-8"></div>
                    
                    <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13503.90212323643!2d74.19247791534426!3d32.204890000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b491b5bb56ee82a!2sGIFT+University!5e0!3m2!1sen!2s!4v1515315218718" 
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- /map-outer -->
        </div> <!-- /row -->
    </div><!-- /container -->
    
    
    
	<%- include('partials/footer'); %>
	